/**
 * Custom GoodNews CMP styles for Revo >= 2.3.0
 */

/* The auto-refresh button: status on (ExtJS button) */
.gon-autorefresh .x-btn {
    color: #2d8000;
    box-shadow: 0 0 0 1px #64be33;
}
.gon-autorefresh .x-btn-focus,
.gon-autorefresh .x-btn-over {
    color: #fff;
}
.gon-autorefresh .x-btn.gon-autorefresh-on {
    color: #2d8000;
    background-color: #a5e0a5;
    box-shadow: 0 0 0 1px #a5e0a5;
}
.gon-autorefresh .x-btn.gon-autorefresh-on.x-btn-focus,
.gon-autorefresh .x-btn.gon-autorefresh-on.x-btn-over {
    color: #2d8000;
    background-color: #82ce82;
    box-shadow: 0 0 0 1px #82ce82;
}

/* The send-process button (ExtJS button) */
.gon-sendprocess .x-btn {
    color: #be0000;
    box-shadow: 0 0 0 1px #eeb1b1;
}
.gon-sendprocess .x-btn.gon-sendprocess-off {
    background-color: #eeb1b1;
    box-shadow: 0 0 0 1px #eeb1b1;
}
.gon-sendprocess .x-btn.gon-sendprocess-off.x-btn-focus,
.gon-sendprocess .x-btn.gon-sendprocess-off.x-btn-over {
    background-color: #e29191;
    box-shadow: 0 0 0 1px #e29191;
}

/* The container selector in ActionBar */
.gon-choose-container .x-form-field-trigger-wrap {
    margin: 0 0 0 7px !important;
}

/* The groups / categories tree */
.gon-tree-groupscategories {
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

/* Expanded rows in grids */
.x-grid3-row-body .gon-expinfos {
    overflow: hidden;
    color: #9c9c9c;
    margin: 5px 20px 20px 20px;
    border-collapse: collapse;
}
.x-grid3-row-body .gon-expinfos-key {
    text-align: left;
    padding: 4px 6px 4px 6px;
    font-weight: bold;
    line-height: 20px;
}
.x-grid3-row-body .gon-expinfos-val {
    text-align: left;
    padding: 4px 22px 4px 6px;
    line-height: 20px;
}


/* Start / Stop / Continue action buttons */
.gon-ab-start:before {
    font-family: fontawesome;
    content: "\f04b";
    padding-left: 5px;
    padding-right: 5px;
}
.gon-ab-stop:before {
    font-family: fontawesome;
    content: "\f04c";
    padding-left: 5px;
    padding-right: 5px;
}
.gon-ab-continue:before {
    font-family: fontawesome;
    content: "\f04b";
    padding-left: 5px;
    padding-right: 5px;
}
button:disabled[class*="gon-ab-"] {
    cursor: default;
    color: #ccc;
}
button:hover:disabled[class*="gon-ab-"] {
    background-color: #fff;
    box-shadow: 0 0 0 1px #ddd;
}

/* Status tag in newsletters grid */
.gon-nlstatus {
    display: block;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
}
    .gon-not-published {
        color: #b7b7b7; /* grey */
    }
    .gon-not-ready-to-send {
        color: #b7b7b7; /* grey */
    }
    .gon-not-sent {
        color: #ffc14d; /* orange */
    }
    .gon-in-progress {
        color: #71abf3; /* light-blue */
        padding-left: 20px;
        background: url(../img/sending-ani.gif) no-repeat center left;
    }
    .gon-stopped {
        color: #be0000; /* red */
    }
    .gon-finished {
        color: #6cb24a; /* green */
    }
    .gon-scheduled {
        color: #71abf3; /* light-blue */
    }
    
    .gon-testdummy-no {
        color: #6cb24a;
    }
    .gon-testdummy-yes {
        color: #6060ff; /* blue */
    }

/* slider panels in system settings */
.gon-slider-field .x-form-field-wrap {
    background: none;
    border: none;
}
.gon-slider-display {
    text-align: center;
}

#newsletter-log-frame {
    width: 100%;
    height: 100%;
    border: none;
}

/* About tab in settings */
.gon-about-box {
    color: #777;
}
    .gon-about-box p {
        margin-bottom: 20px;
    }
.gon-about-box a {
    text-decoration: none;
    color: #777;
    border-bottom: 1px dotted;
}
.gon-about-box ul li {
    list-style-type: disc;
    margin-left: 20px;
}
.gon-about-box-error {
    color: #f22;
}
.gon-about-box-error h3 {
    color: #f22;
}

/* status colors */
.gon-ok {
    color: #6cb24a;
}
.gon-nok {
    color: #be0000;
}
.gon-disabled {
    color: #be0000;
}

/* System check table in About tab */
.gon-syscheck-tbl {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e3e3e3;
}
    .gon-syscheck-tbl thead
    {
        background-color: #dedede;
    }
    .gon-syscheck-tbl th,
    .gon-syscheck-tbl td
    {
        padding: 6px 10px;
    }
    .gon-syscheck-tbl th {
        color: #000;
    }
    .gon-syscheck-tbl-lcol {
    
    }
    .gon-syscheck-tbl-rcol {
        width: 120px;
    }
    .gon-even {
        background-color: #fff;
    }
    .gon-odd {
        background-color: #fafafa;
    }

/* Error panel */
.gon-panel-desc-error {
    color: #fff;
    background-color: #f99;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Special grid styles */
.gon-modx-group-assigned,
.gon-modx-group-assigned .x-grid3-cell-inner {
    color: #5858ea; /* grey-blue */
}
.gon-no-subscriptions,
.gon-no-subscriptions .x-grid3-cell-inner {
    color: #999; /* grey */
}
.gon-no-goodnewsmeta,
.gon-no-goodnewsmeta .x-grid3-cell-inner {
    color: #999; /* grey */
}

/* Mail-icon prefix for newsletter title in newsletters grid */
.gon-newsletter-title::before {
    font-family: fontawesome;
    font-size: 18px;
    content: "\f0e0";
    color: #6b747d;
    margin-right: 8px;    
}

/* User-icon prefix for email address in subscriber row */
.gon-subscriber-email::before {
    font-family: fontawesome;
    font-size: 14px;
    content: "\f007";
    color: #6b747d;
    margin-right: 5px;    
}
.gon-subscriber-email.gon-no-subscriptions::before {
    content: "\f007";
    color: #bebebe;
}
.gon-subscriber-email.gon-no-goodnewsmeta::before {
    content: "\f007";
    color: transparent;
}

/* Textarea in plain-text mail preview window */
.x-form-textarea.gon-mail-preview-textarea {
    font-family: arial, tahoma, helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    padding: 5px;
}

/* Other helper classes */
.gon-x-panel-add-padding-top {
    padding-top: 15px;
}

/* Style adjustments for high resolution devices */
@media (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

    .gon-in-progress {
        background-image: url(../img/sending-ani@2x.gif);
        background-size: 16px auto !important;
    }
}
